@use "./styles/globals" as globals;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  min-height: calc(100vh - globals.$nav-height);
  padding: 4rem 1rem;
  padding-top: globals.$nav-height;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  padding: 2rem 0;
  @media only screen and (min-width: globals.$sm-md) {
    padding: 2rem;
  }
}

.panel {
  max-width: 26rem;
  margin-bottom: 1.5rem;
  &Intro {
    h2 {
      @include globals.headingFont2;
    }
  }

  &Switch {
    h5 {
      @include globals.headingFont5;
    }
    p {
      @include globals.bodyFont;
      margin-bottom: 0.62rem;
    }
  }
}
