@use "./styles/globals" as globals;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  min-height: calc(100vh - globals.$nav-height);
  padding: 4rem 1rem;
  padding-top: globals.$nav-height;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  padding: 2rem 0;
  @media only screen and (min-width: globals.$sm-md) {
    padding: 2rem;
  }
}

.panel {
  margin-bottom: 1.5rem;

  .wrapper {
    max-width: 60rem;
    margin: 0 auto;
  }

  h2 {
    @include globals.headingFont2;
  }

  h3 {
    @include globals.headingFont3;
    margin-bottom: 0.75rem;
  }

  h5 {
    @include globals.headingFont5;
  }

  p {
    @include globals.bodyFont;
    margin-bottom: 0.62rem;
  }

  &Switch {
    max-width: 26rem;
  }

  &Slider {
    width: 100%;
    border: 1px solid globals.$eggplant-black-transparent;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1.5rem;
    // background-color: globals.$primary-white;
  }
}
